* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    background-color: #020202;
    overflow-x: hidden;
    height: 100vh;
    font-family: 'Manrope', 'sans-serif';
}

#container {
    display: grid;
    height: 100%;
    grid-template-rows: auto max-content;
}

#topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#topContent {
    display: grid;
    grid-template-rows: max-content max-content;
    justify-items: center;
    grid-row-gap: 15px;
}

#topContent #logo {
    height: 70px;
}

#topContent h1 {
    color: #FEFEFE;
    font-size: 1.5rem;
    font-weight: 300;
}

#bottomContainer {
    display: grid;
    padding-bottom: 10vw;
    grid-template-rows: max-content max-content;
    grid-row-gap: 7px;
    justify-content: center;
    width: 100%;
}

.btn {
    font-size: 0.95rem;
    width: 90vw;
    padding: 15px 0px;
    text-align: center;
    font-weight: 800;
}

#create {
    background-color: #3F00FF;
    color: #FEFEFE;
}

#login {
    background-color: #FEFEFE;
    color: #020202;
}